<div>
  <a href="#" class="login" {{action "login"}}>Show Auth0 Login</a>
</div>
<div>
  <a href="#" {{action "loginPasswordless" "link" "email"}}>Show Auth0 magic Login</a>
</div>
<div>
  <a href="#" {{action "loginPasswordless" "code" "sms"}}>Show Auth0 sms Login</a>
</div>
<div>
  <a href="#" {{action "loginPasswordless" "code" "email"}}>Show Auth0 email code Login</a>
</div>
